#sat-list {
  height: 453px;
  overflow-y: scroll;
}

#sat-list li {
  cursor: pointer;
}

.overlay-box {
  position: relative;
  width: 50%;
  max-width: 300px;
  height: 100%;
  border: lightblue 1px solid;
}

.pic {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.overlay-box:hover .overlay {
  opacity: 1;
}

#logo-text {
  font-family: 'Fugaz One', cursive;
}

#about-text-box {
  color: white;
  border-radius: 1%;
  background: rgba(60, 72, 72, 0.9);
}

.modal-content {
  background-color: lightgrey;
}

body {
  background-image: url(../images/background-img.jpg);
  font-family: 'Roboto Condensed', sans-serif;
  background-repeat: no-repeat;
}