{% extends 'base.html' %}

{% block content %}

<h2  class="text-center">Meet the Fellas</h2>


<div class="container mt-3">
    <div class="row">

        <div class="overlay-box m-3">
            <img src="/static/images/alan.png" alt="Card image cap" class="pic">
            <div class="overlay">
                <h3>Alan</h3>
                <h6 class="text-light">Backend Dev</h6>
                <p>Alan likes to shoot and he likes hockey. He lives in Nashville.</p>
                <a href="https://en.wikipedia.org/wiki/Sputnik_1" class="btn btn-primary">Read about Alan's Favorite Satellite</a>
            </div>
        </div>

        <div class="overlay-box m-3">
            <img src="/static/images/matt.jpg" alt="Card image cap" class="pic">
            <div class="overlay">
                <h3>Matt</h3>
                <h6 class="text-light">Frontend Dev</h6>
                <p>Matt likes indie folk music and has a vulnarable garage. He lives in Portland.</p>
                <a href="https://en.wikipedia.org/wiki/Hubble_Space_Telescope" class="btn btn-primary">Read about Matt's Favorite Satellite</a>
            </div>
        </div>


        <div class="overlay-box m-3">
            <img src="/static/images/me.jpg" alt="Card image cap" class="pic">
            <div class="overlay">
                <h3>James</h3>
                <h6 class="text-light">Backend Dev</h6>
                <p>James likes death metal and riding his bike. He lives in Milwaukee.</p>
                <a href="https://en.wikipedia.org/wiki/Explorer_1" class="btn btn-primary">Read about James' Favorite Satellite</a>
            </div>
        </div>


    </div>
</div>

{% endblock %}