{% extends 'base.html' %}

{% block content %}

<h3 class="text-center">Meet the Boys</h3>


<div class="container mt-3">
    <div class="row">

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/static/images/alan.png" alt="Card image cap">
            <div class="card-body">
            <h3 class="card-title text-center">Alan</h3>
            <h6 class="card-subtitle mb-2 text-muted text-center">Backend Dev</h6>
              <p class="card-text">Alan likes to shoot and he likes hockey. He lives in Nashville.</p>
              <a href="https://en.wikipedia.org/wiki/Sputnik_1" class="btn btn-outline-secondary">Read about Allen's Favorite Satellite</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/static/images/matt.jpg" alt="Card image cap">
            <div class="card-body">
            <h3 class="card-title text-center">Matt</h3>
            <h6 class="card-subtitle mb-2 text-muted text-center">Frontend Dev</h6>
              <p class="card-text">Matt likes indie folk music and has a vulnarable garage. He lives in Portland.</p>
              <a href="https://en.wikipedia.org/wiki/Hubble_Space_Telescope" class="btn btn-outline-secondary">Read about Matt's Favorite Satellite</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/static/images/me.jpg" alt="Card image cap">
            <div class="card-body">
            <h3 class="card-title text-center">James</h3>
            <h6 class="card-subtitle mb-2 text-muted text-center">Backend Dev</h6>
              <p class="card-text">James likes death metal and riding his bike. He lives in Milwaukee.</p>
              <a href="https://en.wikipedia.org/wiki/Explorer_1" class="btn btn-outline-secondary">Read about James' Favorite Satellite</a>
            </div>
        </div>

    </div>
</div>

{% endblock %}