{% extends 'base.html' %}

{% block content %}
<div id="about">




    <div class="container text-center">


            <span id="about-text-box-top">
                <h1 class="text-center">About the Team</h1>
            </span>


        <div class="row ml-5">

            <div class="overlay-box m-3">
                <img src="/static/images/alan.png" alt="Card image cap" class="pic">
                <div class="overlay">
                    <h3>Alan</h3>
                    <h6 class="text-light">Backend Dev</h6>
                    <p>Alan likes to shoot and he likes hockey. He lives in Nashville.</p>
                    <a href="https://en.wikipedia.org/wiki/Sputnik_1" class="btn btn-primary">Read about Alan's Favorite Satellite</a>
                </div>
            </div>

            <div class="overlay-box m-3">
                <img src="/static/images/matt.jpg" alt="Card image cap" class="pic">
                <div class="overlay">
                    <h3>Matt</h3>
                    <h6 class="text-light">Frontend Dev</h6>
                    <p>Matt likes indie folk music and has a vulnarable garage. He lives in Portland.</p>
                    <a href="https://en.wikipedia.org/wiki/Hubble_Space_Telescope" class="btn btn-primary">Read about Matt's Favorite Satellite</a>
                </div>
            </div>


            <div class="overlay-box m-3">
                <img src="/static/images/me.jpg" alt="Card image cap" class="pic">
                <div class="overlay">
                    <h3>James</h3>
                    <h6 class="text-light">Backend Dev</h6>
                    <p>James likes death metal and riding his bike. He lives in Milwaukee.</p>
                    <a href="https://en.wikipedia.org/wiki/Explorer_1" class="btn btn-primary">Read about James' Favorite Satellite</a>
                </div>
            </div>


        </div>
    </div>

    <div class="container py-2" id="about-text-box">

        <h2 class="text-center">About the Project</h2>

        <a href="/"><h5>What's Up Spock!</a> is the brain child of developers Matt McFarland, Alan Puglisi, and James Reid. Created for <a href="https://www.spaceappschallenge.org/about/">NASA's International Space App Challenge</a>, What's Up Spock is the ultimate tool for tracking your local satellite activity. Simply click the button and your location will be cross referenced with multiple databases of international satellites.</h5>
        <br>
        <h5>You'll receive an up-to-date visual representation of the satellites orbiting your area. Filter down even further to see your local weather, GIS, or Military satellites. You'll be provided with a panoply of data about these satellites. Their launch date, country of origin, and (if available) a detailed history from Wikipedia.</h5>
        <br>
        <h5>Ever wonder what those strange blinking, lights in the sky are? Ever wondered which satellites predict your weather or provide your television? Are you paranoid about the 2,666 satellites currently orbiting Earth? Well, give <a href="/">What's Up Spock!</a> a spin and put those curiosities to rest.</h5>
    </div>

</div>


{% endblock %}