{% extends 'base.html' %}

{% block content %}
<div id="background-image">

  <div class="container h-100">
    <div class="row vh-100 align-items-center">
      <div class="col-md-12 mb-4 d-flex justify-content-center">
        <button id="location-btn" class="btn btn-primary mx-auto">Click Here to See What's Up</button>
      </div>
      <div class="col-md-8 mb-auto">
        <canvas id="globe" height="500" width="500">
          Your browser does not support HTML5 Canvas.
        </canvas>
      </div>
      <div class="col-md-4 mb-auto">
        <ul class="list-group">
          <li class="text-center list-group-item">Nearby Satellites</li>
        </ul>
        <ul id="sat-list" class="list-group"></ul>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='node_modules/@nasaworldwind/worldwind/build/dist/worldwind.min.js')}}"></script>
  <script src="/static/js/app.js" defer></script>

</div>
{% endblock %}
